<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>Archetype Created Web Application</display-name>
	<welcome-file-list>
	<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>LanguageFilter</filter-name>
		<filter-class>by.tr.web.controller.filter.LanguageFilter</filter-class>
		<init-param>
         	<param-name>active</param-name>
          	<param-value>true</param-value>
      	</init-param>
	</filter>
	<filter>
		<filter-name>RatingFilter</filter-name>
		<filter-class>by.tr.web.controller.filter.RatingFilter</filter-class>
		<init-param>
         	<param-name>active</param-name>
          	<param-value>true</param-value>
      	</init-param>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>LogOutFilter</display-name>
		<filter-name>LogOutFilter</filter-name>
		<filter-class>by.tr.web.controller.filter.LogOutFilter</filter-class>
		<init-param>
         	<param-name>active</param-name>
          	<param-value>true</param-value>
      	</init-param>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>AdminFilter</display-name>
		<filter-name>AdminFilter</filter-name>
		<filter-class>by.tr.web.controller.filter.AdminFilter</filter-class>
		<init-param>
         	<param-name>active</param-name>
          	<param-value>true</param-value>
      	</init-param>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>UserFilter</display-name>
		<filter-name>UserFilter</filter-name>
		<filter-class>by.tr.web.controller.filter.UserFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LanguageFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RatingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LogOutFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
		<filter-mapping>
		<filter-name>AdminFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
		<filter-mapping>
			<filter-name>UserFilter</filter-name>
			<url-pattern>/UserFilter</url-pattern>
		</filter-mapping>
	<servlet>
		<description></description>
		<display-name>Controller</display-name>
		<servlet-name>Controller</servlet-name>
		<servlet-class>by.tr.web.controller.Controller</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/Controller</url-pattern>
	</servlet-mapping>
	
	<jsp-config>
<taglib>
<taglib-uri>
/WEB-INF/tld/taglib.tld
</taglib-uri>

<taglib-location>
/WEB-INF/tld/taglib.tld
</taglib-location>
</taglib>
</jsp-config>

</web-app>
